.btn__trip {
  margin-bottom: 40px;
}

.btn__link {
  display: block;
  text-align: center;
  font-size:16px;
  font-weight: 800;
  background-color: #a6f3fe;
  border-radius: 25px;
  padding: 20px 20px;
  text-transform: uppercase;
  border: 2px solid black;
}

.btn__link:hover {
  background-color: $blue;
  color: white;
  transition: 0.3s;
}


.btn__link:focus {
  box-shadow: 2px 2px 10px 10px #87cefa;
  transition: 0.3s;
}

