


.btn__scroll {
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    display: none;
    
  }

}

.btn__scroll:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}



.scroll__text {
  padding-right: 20px;
}

.scroll__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
  color: white;
}


.scroll__icon {
  display: block;
  fill: #fff;
  width: 30px;
  height: 30px;
}

