.conditions {
  background-color: $light-blue;
  padding: 50px 0;
}

.conditions__container {
  display: flex;
  justify-content: center;
}

.conditions__desc {
  width: 85%;
}

.conditions__title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;

}

.conditions__text {
  padding-bottom: 10px;
}