.foot {
  min-height: 50px;
  display: flex;
  align-items: center;
  font-size: 16px;
  // background-color: $orange;
  background-color: $light-blue;
  color: $brownish-grey;
  // flex: 0 0 auto;

}

.foot__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-right: 50%;
}

.foot__left {
  width: 50%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}