include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Мельник Александр | Главная страница
  body
    .wrapper
      .wrapper__content

        //- .maincontent
          //- +image('content/user.jpg', 'user-pic')
          //- +icon('link', 'link-class')
          //- .icon-bg
        .welcome-parallax
          .welcome__layer(data-speed="0.1")
            +image('content/hero/bg/bg_sky.jpg', 'welcome__image')
          .welcome__layer(data-speed="0.25")
            +image('content/hero/bg/bg_mountain-p.png', 'welcome__image')
          .welcome__layer(data-speed="0.30")
            +image('content/hero/bg/bg_bridge-p.png', 'welcome__image')
          .welcome__layer(data-speed="0.35")
            +image('content/hero/bg/bg_glade_gradient-p.png', 'welcome__image')
            
          section.hero(id="hero") 
            .container.hero__container
              header.hero__header
                .hero__logotip
                  a.hero__logo(href="./") 
                    .logo АМ
                  a.hero__admin(href="./admin") 
                    .logo Админ-панель
                  
                .hero__menu
                  nav.nav
                    ul.nav__list
                      li.nav__item
                        a.nav__link(href="#hero") Главная 
                      li.nav__item
                        a.nav__link(href="#about") Обо мне 
                      li.nav__item
                        a.nav__link(href="#skills") Навыки 
                      li.nav__item
                        a.nav__link(href="#works") Работы 
                      li.nav__item
                        a.nav__link(href="#reviews") Отзывы 
                      li.nav__item
                        a.nav__link(href="#contact") Связаться 

                .hero__social
                  ul.social__list
                      li.social__item
                        a.social__link(href="https://www.instagram.com/sashamell7" target="_blank")
                          +icon("insta", "social__icon")
                      li.social__item
                        a.social__link(href="https://vk.com/mell75" target="_blank")
                          +icon("vk", "social__icon")
                      li.social__item
                        a.social__link(href="https://github.com/alxmelnik" target="_blank")
                          +icon("github", "social__icon")

                .hamburger
                  +image('content/hero/hamburger.png', 'hamburger__link--pic')
                  


                
              .hero__content
                .user-info
                  h1.user-info__desc Личный сайт <br> веб разработчика
                  .user-info__username Александр Мельник

              .hero__buttons
                a.btn__scroll(href="#about")
                  .scroll__text Скролл
                  .scroll__link
                    +icon("scroll", "scroll__icon") 
                    
          section.about(id="about")
            .container
              .about__container
                .about__left
                  .about__user
                    .user__avatar
                      .avatar
                        +image('content/about/user_am.jpg', 'avatar__image')

                    .user__desc
                      ul.user__desc-feature
                        - 
                          var items = [
                            'Проживаю:',
                            'Возраст:',
                            'Родился:'
                          ];
                        each item in items
                          li.user__desc-item
                            .user__key #{item}
                            

                      ul.user__desc-value
                        - 
                          var items = [
                            "Н.Новгород",
                            "25 лет",
                            "31 июля 1994"
                          ];
                        each item in items
                          li.user__desc-item
                            .user__value #{item}


                .about__right
                  h4.about__subtitle Привет, меня зовут
                  h2.about__title Александр Мельник
                  p.about__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  p.about__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        
        
        section.skill(id="skills")
          .container.skill__container
            .skill__title
              h2.skill__title-text Чем я могу быть полезен вам
              p.skill__title-desc  Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

            .skill__widget
              #skills-component
              
        section.works(id="works")
          .container.works__container
            h2.works__title Мои работы
              
            .works__content
              #slider-component
              //- .slider
              //-   .slider__display
              //-     +image('content/works/slide_1.jpg', 'slider__display-pic')
              //-     .slider__display-thumbs
              //-       ul.slider__thumbs
              //-         li.slider__item.active
              //-           a.slider__link(href="")
              //-             +image('content/works/slide_1.jpg', 'slider__link-pic')
              //-         li.slider__item
              //-           a.slider__link(href="")
              //-             +image('content/works/slide_2.jpg', 'slider__link-pic')
              //-         li.slider__item
              //-           a.slider__link(href="")
              //-             +image('content/works/slide_3.jpg', 'slider__link-pic')
              //-         li.slider__item
              //-           a.slider__link(href="")
              //-             +image('content/works/slide_4.jpg', 'slider__link-pic')

              //-     .slider__btn
              //-       button.direction-btn.direction-btn--next
              //-         +icon("arrow-down", "direction__icon")
              //-       button.direction-btn.direction-btn--prev
              //-         +icon("arrow-down", "direction__icon direction__icon--prev")
                      
              //-   .slider__info
              //-     .slider-tags
              //-       ul.slider-tags__list
              //-         li.slider-tags__item HTML
              //-         li.slider-tags__item CSS
              //-         li.slider-tags__item javascript
                  
              //-     .slider__info-text
              //-       h3.slider__info-title Сайт школы образования
              //-       p.slider__info-message Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!

              //-     .slider__info-btn
              //-       a.slider__info-link 
              //-         .info-link__pic
              //-           +icon("link", "info-link__icon")
              //-         .info-link__text Посмотреть сайт

        .contact-wrapper
          .container.contact__container
            section.reviews(id="reviews") 
              #reviews-component

                //- h2.reviews__title Что обо мне говорят
                //- .reviews__slider
                //-   .reviews__btn
                //-     a.arrow-btn.arrow-btn--prev
                //-       +icon("arrow-down", "arrow__icon arrow__icon--prev")
                //-     a.arrow-btn.arrow-btn--next
                //-       +icon("arrow-down", "arrow__icon arrow__icon--next")
                //-   ul.reviews__desc
                //-     li.reviews__item
                //-       .reviews__message 
                //-         p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                //-       .reviews__author 
                //-         .reviews__avatar
                //-           +image('content/reviews/kovalchuk.jpg', 'reviews__avatar-pic')
                //-         .reviews__author-info 
                //-           h4.reviews__author-title Ковальчук Дмитрий
                //-           span.reviews__author-desc Основатель Loftschool
                //-     li.reviews__item
                //-       .reviews__message 
                //-         p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                //-       .reviews__author 
                //-         .reviews__avatar
                //-           +image('content/reviews/sabancev.jpg', 'reviews__avatar-pic')
                //-         .reviews__author-info 
                //-           h`4.reviews__author-title Владимир Сабанцев
                //-           span.reviews__author-desc Преподаватель

            section.contact(id="contact") 
              h2.contact__title Связаться со мной
              .form
                form.form__tag(action="")
                  .form__row.form__row--double
                    label.form__block
                      .form__label Введите ваше имя
                      .form-in
                        .input__pic
                          +icon("user", "input__pic-icon")
                        .input
                          input.form__input.form__input-name(type="text" name="name" placeholder="Мельник Александр" required)

                    label.form__block 
                      .form__label Введите ваш email
                      .form-in
                        .input__pic
                          +icon("envelope", "input__pic-icon")
                        .input
                          input.form__input(type="email" name="email" placeholder="alxmelnik@yandex.ru" required)
                        
                  .form__row
                    label.form__block
                      .form__label Сообщение к письму
                      .form-in
                        .input__pic
                          +icon("message", "input__pic-icon")
                        .input
                          textarea.form__input.form__input--textarea(type="text" name="comment" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" required)

                  .form__row-btn
                    button.form__btn(type="submit" value="Отправить") Отправить

        section.footer
          .container.footer__container
            footer.foot
              .foot__left 
                .foot__left-copy © 2020
                .foot__left-desc
                  h4.foot__left-username Александр Мельник
                  h5.foot__left-text Личный сайт веб- разработчика

              .foot__right
                .foot__menu
                  nav.nav
                    ul.nav__list
                      li.nav__item
                        a.nav__link(href="#hero") Главная 
                      li.nav__item
                        a.nav__link(href="#about") Обо мне 
                      li.nav__item
                        a.nav__link(href="#skills") Навыки 
                      li.nav__item
                        a.nav__link(href="#works") Работы 
                      li.nav__item
                        a.nav__link(href="#reviews") Отзывы 
                      li.nav__item
                        a.nav__link(href="#contact") Связаться 

                .foot__inner
                  .foot__social-desc
                    .foot__social-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    .foot__social
                      ul.social__list
                        li.social__item.social__item-footer
                          a.social__link.social__link-footer(href="https://www.instagram.com/sashamell7" target="_blank")
                            +icon("insta", "social__icon social__icon-footer")
                        li.social__item.social__item-footer
                          a.social__link.social__link-footer(href="https://vk.com/mell75" target="_blank")
                            +icon("vk", "social__icon social__icon-footer")
                        li.social__item.social__item-footer
                          a.social__link.social__link-footer(href="https://github.com/alxmelnik" target="_blank")
                            +icon("github", "social__icon social__icon-footer")
                  
                  .foot__quote
                    p.foot__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    span.foot__quote-author Martin Golding

    .fullscreen-menu
      .fullscreen-menu__left
        a.hero__logo.fullscreen-menu__logo(href="./")  
          .logo АМ

      .fullscreen-menu__right

        a.fullscreen-menu__close(href="")
          +icon("remove", 'fullscreen-menu__close-icon')

        nav.fullscreen-menu__nav
          ul.fullscreen-menu__list
            li.fullscreen-menu__item
              a.fullscreen-menu__link(href="#hero") Главная
            li.fullscreen-menu__item
              a.fullscreen-menu__link(href="#about") Обо мне
            li.fullscreen-menu__item
              a.fullscreen-menu__link(href="#skills") Навыки
            li.fullscreen-menu__item
              a.fullscreen-menu__link(href="#works") Работы
            li.fullscreen-menu__item
              a.fullscreen-menu__link(href="#reviews") Отзывы
            li.fullscreen-menu__item
              a.fullscreen-menu__link(href="#contact") Связаться

        .fullscreen-menu__social
            ul.social__list
              li.social__item
                a.social__link(href="https://www.instagram.com/sashamell7" target="_blank")
                  +icon("insta", "social__icon social__icon--popup")
              li.social__item
                a.social__link(href="https://vk.com/mell75" target="_blank")
                  +icon("vk", "social__icon social__icon--popup")
              li.social__item
                a.social__link(href="https://github.com/alxmelnik" target="_blank")
                  +icon("github", "social__icon social__icon--popup")



    include ./templates/entry.pug






              
          



            
          